@page "/sectiontest"

<h3>SectionTest</h3>

@* Using section Name *@
@* <SectionContent SectionName="top-header"> *@
@*     <b>Test</b> *@
@* </SectionContent> *@

@* Using section ID *@
@* <SectionOutlet SectionId="MainLayout.TopHeader"/> *@
@* <SectionContent SectionId="Layout.MainLayout.TopHeader"> *@
@*     <b>Using SectionId</b> *@
@* </SectionContent> *@
@* *@
@* *@
@* @code { *@
@*     public static SectionOutlet TopHeader = new(); *@
@* } *@